html2image
jinja2
Pillow
requests
WeasyPrint
pdf2image
pytz
pyyaml
flask

# Only install these on Raspberry Pi (Linux)
spidev ; sys_platform == "linux"
gpiozero ; sys_platform == "linux"
pigpio ; sys_platform == "linux"
lgpio ; sys_platform == "linux"